@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

:root {
  --orange: #ffa62b;
  --light-orange: #fbb452ca;
  --sand: #f9f7f6;
  --light-blue: #96d1dd83;
  --medium-blue: #489fb5;
  --blue: #16697a;
}

#root {
  max-width: 1280px;
  font-size: 16px;
  width: 100vw;
}

body {
  background-color: var(--sand);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.hidden {
  display: none;
}
button {
  background-color: var(--orange);
  border: none;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  width: fit-content;
  margin: 0 auto;
}

button:hover {
  background-color: var(--sand);
  color: var(--orange);
}
button:active {
  background-color: var(--light-orange);
  color: white;
}
button:disabled {
  background-color: var(--light-orange);
  color: var(sand);
}

.page-components {
  margin: 8vh auto;
  display: flex;
  flex-direction: column;
}
.page-components h2 {
  color: var(--blue);
}

/*--- end of general  ---*/

#header {
  height: 7vh;
  background-color: var(--blue);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#app-title {
  width: 50%;
  font-family: "Monoton", sans-serif;
  font-size: 2rem;
  margin: 0;
}

#footer {
  height: 7vh;
  background-color: var(--blue);
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* ---- article tiles  ---- */

#filter-button {
  padding: 1rem;
  background-color: transparent;
  color: var(--blue);
  margin: 0 5px 0 auto;
  justify-items: end;
}
#filter-button:active {
  color: var(--orange);
}
#articles-filter {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--light-blue);
  border-radius: 5px;
}

#articles-filter label {
  color: var(--blue);
}

#articles-filter select {
  appearance: none;
  -webkit-appearance: none;
  width: 8rem;
  font-size: 0.9rem;
  padding: 0.5rem 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  cursor: pointer;
}
#articles-filter select:first-of-type {
  margin-right: 10px;
}

.article-tiles {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  padding-bottom: 12px;
  padding-top: 15px;
  gap: 5px;
  box-shadow: 0px 1px 5px var(--light-orange);
  background-color: white;
}

.article-tiles-image {
  grid-column: 1/2;
  grid-row: 1/4;
  width: 100%;
  object-fit: cover;
  margin: 0;
  align-self: center;
}

.article-tiles-topic {
  font-size: 0.8rem;
  font-weight: 200;
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  color: var(--blue);
}

.article-tiles-title {
  font-size: 0.9rem;
  grid-column: 2/4;
  grid-row: 2;
  margin: 0;
  line-height: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-tiles-author {
  grid-column: 2;
  grid-row: 3;
  margin: 0;
  font-size: 0.7rem;
}
.article-tiles-date {
  grid-column: 3;
  grid-row: 3;
  margin: 0;
  font-size: 0.7rem;
}
/* ---- end of article tiles  ---- */
/* ---- Individual article ---- */
#individual-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ---- Display article ---- */
.display-article {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.display-article-topic {
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
  margin-bottom: 0;
  margin-top: 5px;
  color: var(--blue);
}

.display-article-background {
  background-color: white;
  padding: 5px;
  width: 100vw;
}
.display-article-img {
  max-width: 100%;
  height: auto;
}
.display-article-title {
  color: var(--blue);
  background-color: white;
  width: 100%;
  margin-top: 5px;
}
.display-article-authorAndDate,
.display-article-votes {
  font-size: 0.9rem;
  margin: 0;
  line-height: 0.8rem;
  font-weight: 200;
  width: 50%;
}
.display-article-votes {
  align-self: center;
  justify-self: center;
}

/* ---- end of Display article   ---- */

/* ---- Article Comments---- */
#display-comments {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: var(--light-blue);
  border-radius: 5px;
  padding: 5px 0;
}
#comments-number {
  margin: 5px 0 0 5px;
  color: var(--blue);
}

.add-comment-button {
  padding: 0.4rem 0;
  margin: 10px auto;
  border-radius: 5px;
  width: 90%;
  font-weight: 600;
}

.new-comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.new-comment-form label {
  width: 100%;
  font-weight: 600;
  font-size: 0.8rem;
  text-indent: 1rem;
}
.new-comment-form textarea {
  width: 90%;
  height: 60px;
  border-radius: 3px;
  margin: 0 auto;
}
.error-message {
  color: red;
  font-size: 0.9rem;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.article-comment-tile {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.3rem auto 1rem;
  box-shadow: 0 1px 1px var(--light-orange);
  margin: 4px 0;
  gap: 3px;
  background-color: var(--sand);
}
.article-comments-author {
  margin: 0;
  font-size: 0.8rem;
  grid-area: 1/1;
}
.article-comments-date {
  grid-area: 1/2;
}
.article-comments-votes {
  grid-area: 3/2;
}
.article-comments-date,
.article-comments-votes {
  margin: 0;
  font-size: 0.8rem;
  justify-self: end;
}
.article-comments-body {
  font-size: 0.9rem;
  grid-column: 1/3;
  grid-row: 2;
  line-height: 1.2rem;
  margin: 0;
}

.see-more-button {
  border: none;
  margin: 10px auto;
  background-color: transparent;
  font-size: 0.9rem;
}
.see-more-button:hover {
  color: var(--blue);
  background-color: transparent;
}
.see-more-button:active {
  background-color: transparent;
}
.see-more-button:disabled {
  background-color: transparent;
}

/* ---- end of Article Comments---- */

/* ---- end of Individual article   ---- */

/* ---- All Topics   ---- */

.topics-tiles {
  width: 100vw;
  padding-bottom: 12px;
  padding-top: 15px;
  gap: 5px;
  box-shadow: 0px 1px 5px var(--light-orange);
  background-color: white;
  /* all these could be a separate styling component  and used with articles tiles*/
  text-align: center;
}
.topics-tiles h3 {
  color: var(--blue);
}
/* ---- end of All Topics   ---- */
/* ----  Error page   ---- */
.animation-error {
  position: absolute;
  top: 7vh;
}

#error-component {
  margin-top: 200px;
  text-align: center;
  color: var(--blue);
  font-size: 1.5rem;
}

#error-component h2,
h3 {
  margin: 0;
}

/* ---- end of Error page   ---- */
