#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  font-size: 16px;
  width: 100vw;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.hidden {
  display: none;
}

#header {
  height: 7vh;
  background-color: grey;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#app-title {
  width: 50%;
}

#footer {
  height: 7vh;
  background-color: grey;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.page-components {
  margin: 7vh auto;
}

/* ---- article tiles  ---- */
.article-tiles {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  padding-bottom: 12px;
  padding-top: 12px;
  gap: 5px;
  box-shadow: 0 1px 2px grey;
}

.article-tiles-image {
  grid-column: 1/2;
  grid-row: 1/4;
  width: 100%;
  object-fit: cover;
  margin: 0;
  align-self: center;
}

.article-tiles-topic {
  font-size: 0.8rem;
  font-weight: 200;
  grid-column: 2;
  grid-row: 1;
  margin: 0;
}

.article-tiles-title {
  font-size: 0.9rem;
  grid-column: 2/4;
  grid-row: 2;
  margin: 0;
  line-height: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-tiles-author {
  grid-column: 2;
  grid-row: 3;
  margin: 0;
  font-size: 0.7rem;
}
.article-tiles-date {
  grid-column: 3;
  grid-row: 3;
  margin: 0;
  font-size: 0.7rem;
}
/* ---- end of article tiles  ---- */
/* ---- Individual article ---- */
#individual-article {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ---- Display article ---- */
.display-article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.display-article-topic {
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
  margin-bottom: 0;
  margin-top: 5px;
}
.display-article-img {
  max-width: 100%;
  height: auto;
}

.display-article-authorAndDate,
.display-article-votes {
  font-size: 0.9rem;
  margin: 0;
  line-height: 0.8rem;
  font-weight: 200;
  width: 50%;
}
.display-article-votes {
  align-self: center;
  justify-self: center;
}

/* ---- end of Display article   ---- */

/* ---- Article Comments---- */
#display-comments {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgba(243, 243, 243, 0.74);
  border-radius: 5px;
  padding: 5px;
}
#comments-number {
  margin: 5px 0 0 5px;
}

.add-comment-button {
  padding: 0.4rem 0;
  margin: 10px auto;
  border-radius: 5px;
  width: 90%;
  background-color: white;
}
.new-comment-form {
  display: block;
  margin: 0 auto;
}
.new-comment-form label {
  width: 100%;
  font-weight: 600;
}
.new-comment-form input {
  width: 95%;
  margin: 0 auto;
}

.article-comment-tile {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.3rem auto 1rem;
  box-shadow: 0 1px 1px grey;
  margin: 4px;
  gap: 3px;
  background-color: white;
}
.article-comments-author {
  margin: 0;
  font-size: 1rem;
  grid-area: 1/1;
}
.article-comments-date {
  grid-area: 1/2;
}
.article-comments-votes {
  grid-area: 3/2;
}
.article-comments-date,
.article-comments-votes {
  margin: 0;
  font-size: 0.8rem;
  justify-self: end;
}
.article-comments-body {
  font-size: 0.9rem;
  grid-column: 1/3;
  grid-row: 2;
  line-height: 1.2rem;
  margin: 0;
}

.see-more-button {
  border: none;
  margin: 10px;
  background-color: transparent;
  font-size: 0.9rem;
}

/* ---- end of Article Comments---- */

/* ---- end of Individual article   ---- */
